<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</head>
<body>
    
    {% include 'message.html' %}
    
    {% include 'navigation.html'%}
    <h2>Registered Students</h2>
    <table class="table table-bordered">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Contact</th>
            <th>City</th>
            <th>Action</th>
        </tr>
        {% for i in data %}
        <tr>
           <td>{{i.id}}</td>
           <td>{{i.name}}</td>
           <td>{{i.email}}</td>
           <td>{{i.password}}</td>
           <td>{{i.contact}}</td>
           <td>{{i.city}}</td>
           <td>
              <a href="/delete/{{i.id}}" class="btn btn-danger">Delete</a>
              <a href="/update/{{i.id}}" class="btn btn-success">Update</a>
           </td>
        </tr>
        {% endfor %}
    </table>
    
    <script>
     setTimeout(()=>{
        let d=document.getElementById("mydiv")
        if(d){
            d.remove()
        }
     },2000)
    </script>

</body>
</html>